@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  /*フォントの名前*/
  font-family: "ika1";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/fonts/ikamodoki1_0.ttf");
}

@font-face {
  font-family: "ika2";
  src: url("/fonts/mplus1cblack.woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "ika1", "ika2", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #333;
  }
}
